<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M a s t e r _ _ M i n d</title>
    <link rel="stylesheet" href="/css/game.css">
  </head>
  <body class="dont_give_up">
    <h1>We won't call it a draw, but let's start over!</h1>

    <form action="/give_up" method="post">
      <input type="submit" value="Play Again!">
    </form>

</html>
