<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M a s t e r _ _ M i n d</title>
    <link rel="stylesheet" href="/css/game.css">
  </head>
  <body class="swirl">
    <div class="game"></div>
    <div class="start_container">

      <div class="rules">
        <h1>How to Play</h1>
        <ul>
          <li>Computer picks 4 colors (can be duplicates)</li>
          <li>You guess the colors in their exact positions</li>
        </ul>
        <p>Colors:
          <span style="color: blue">Blue</span>
          <span style="color: orange">Orange</span>
          <span style="color: green">Green</span>
          <span style="color: purple">Purple</span>
          <span style="color: yellow">Yellow</span>
          <span style="color: pink">Pink</span></p>
        <p><strong>WIN</strong>  = guess all the colors in the correct position</p>
        <p><strong>LOSE</strong> = guess wrong 10x in a row</p>
      </div>

      <button>
        <a href="/play"><img src="/images/start.png" alt="start" /></a>
      </button>

    </div>
  </body>
</html>
