<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M a s t e r _ _ M i n d</title>
    <link rel="stylesheet" href="/css/game.css">
  </head>
  <body class="lose">
    <h1>Better Luck Next Time...</h1>

    <form class="play_again" action="/give_up" method="post">
      <input type="submit" value="Play Again!">
    </form>
    
  </body>
</html>
