ul {
    list-style-image: url("/images/star.png");
}

.rules p span {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.game {
  background: url("/images/mastermind.jpg") no-repeat;
  background-size: 100% 100%;
  margin: auto;
  height: 50vh;
  width: 100vw;
}

.center, .action {
  display: flex;
  justify-content: space-between;
}

.start_container {
  display: flex;
  justify-content: space-around;
}

.guesses form {
  display: flex;
  flex-direction: column;
}

.info table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
}

.swirl {
  background: url("/images/swirl2.jpg") no-repeat;
  background-size: 100%;
}

.dont_give_up {
  background: url("/images/dont_give_up.jpg") no-repeat;
  background-size: 100%;
}

.lose {
  background: url("/images/lose.jpg") no-repeat;
  background-size: 100%;
}

h1 {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.win {
  background: url("/images/win.jpg") no-repeat;
  background-size: 100%;
}
